
@font-face {
    font-family: Optima;
    src: url('./assets/fonts/optima/optima.woff');
}

.app-container {
    min-height: 100vh;
    height: 100vh;
    background: #ffd89b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-template-areas:
        'bio__img'
        'bio__desc'
        'current__work'
        'personal__projects'
        'technologies';
    font-family: Helvetica;
    grid-gap: 5px;
    color: #ffffff;
}

@media (min-width: 700px) {
    .app-container {
        grid-template-areas:
            'bio__img bio__img bio__img'
            'bio__img bio__img bio__img'
            'bio__desc bio__desc bio__desc'
            'technologies technologies technologies'
            'current__work personal__projects personal__projects';
    }
}

.bio__img {
    grid-area: bio__img;
    display: flex;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    width: 100%;
    background-image: url('assets/img/mc_biopic.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bio__desc {
    grid-area: bio__desc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.bio__desc p {
    margin: 0;
}

.current__work {
    grid-area: current__work;
}

.personal__projects {
    grid-area: personal__projects;
}

.technologies {
    grid-area: technologies;
    display: flex;
    justify-content: center;
    align-items: center;
}

.technologies > div {
    height: 100px;
    width: 100px;
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
}

.tech-one {
    background-image: url('./assets/img/angular.png');
}

.tech-two {
    background-image: url('./assets/img/ts.png');
}

.tech-three {
    background-image: url('./assets/img/html.png');
}

.tech-four {
    background-image: url('./assets/img/css.png');
}

.tech-five {
    background-image: url('./assets/img/nodejs.png');
}

.tech-six {
    background-image: url('./assets/img/icon_mongodb_by_xkneo.png');
}

.tech-seven {
    background-image: url('./assets/img/Ansible_Logo.png');
}

.tech-eight {
    background-image: url('./assets/img/docker_vertical_large.png');
}
.grid-item {
    /*background-color: rgba(101, 144, 154, 0.4);*/
}


