
@font-face {
    font-family: Optima;
    src: url('./assets/fonts/optima/optima.woff');
}

.app-container {
    min-height: 100vh;
    height: auto;
    display: grid;
    grid-template-areas:
        'bio__img'
        'bio__desc'
        'current__work';
    grid-template-rows: 2fr 2fr 2fr;
    font-family: Helvetica;
    grid-gap: 5px;
    color: #35586C;
}

.bio__img {
    grid-area: bio__img;
    display: flex;
    padding: 1em 0;
    justify-content: center;
    align-items: center;
}

.img {
    height: 100%;
    width: 80%;
    background-image: url('assets/img/mc_biopic.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    animation: loadOpacity 1.5s ease;
}

@keyframes loadOpacity {
    from {opacity: 0}
    to {opacity: 1}
}

.bio__desc {
    grid-area: bio__desc;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2em;
    font-size: 1.5em;
}

.bio__desc p {
    margin: 0;
    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
    animation: loadText 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes loadText {
    from {opacity: 0; transform: translateX(-100px)}
    to {opacity: 1; transform: translateX(0px)}
}

.current__work {
    grid-area: current__work;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loadSites 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes loadSites {
    from {opacity: 0; transform: translateY(200px)}
    to {opacity: 1; transform: translateX(0px)}
}

.linkedin {
    height: 15%;
    width: 15%;
    background-image: url('assets/img/linkedin.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.github {
    height: 15%;
    width: 15%;
    background-image: url('assets/img/github.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.insta {
    height: 15%;
    width: 15%;
    background-image: url('assets/img/instasvg.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.email {
    height: 15%;
    width: 15%;
    background-image: url('assets/img/email.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.grid-item {
    /*background-color: rgba(101, 144, 154, 0.4);*/
}


